@import "tailwindcss";

@font-face {
  font-family: 'Stardom';
  src: url('/Stardom-Regular.otf');
}

:root{
  --n950: #0b0b0b;    /* neutral-950 base — replace if you have another hex */
  --n930: #121214;
  --n910: #1b1b1d;
  --n880: #272729;
}
html {
  scroll-behavior: smooth;
}

.header-items:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}


h1 {
  font-family: 'Stardom'
}

.hero-button {
  transition: .3s;
}

.hero-button:hover, .social-links:hover {
  /* Soft white glow */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #18181b;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 8px;
  border: 3px solid #18181b;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e5e5e5; /* softer hover glow */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #18181b;
}

