@import "tailwindcss";

@font-face {
  font-family: 'Stardom';
  src: url('/Stardom-Regular.otf');
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Stardom'
}

.hero-button {
  transition: .3s;
}

.hero-button:hover, .social-links:hover {
  /* Soft white glow */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

