@import "tailwindcss";

@font-face {
  font-family: 'Stardom';
  src: url('/Stardom-Regular.otf');
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-family: 'Stardom'
}


.hero-button:hover, .social-links:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  transition: .3s;
}

.hero-subtitle {
  overflow: hidden;
  width: 54%;

  border-right:  2px solid rgb(255, 255, 255);

  white-space: nowrap;

  animation: 
    typing 10s steps(19) infinite,
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
  50% {border-color:  transparent;}
}

@keyframes typing {
  0%, 10%   { width: 0; }
  40%, 50%  { width: 54%; }
  60%, 70%  { width: 54%; } /* hold typed text for a bit */
  100%      { width: 0; }
}

.flip-card {
  width: 525px;
  height: 300px;
  perspective: 1000px; /* depth for 3D */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.flip-card-back {
  transform: rotateY(180deg);
}

